In [3]:
pip install mysql-connector-python

#pip install pysql
#db=pysql.connect()

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.1 MB 2.8 MB/s eta 0:00:06
   --- ------------------------------------ 1.3/16.1 MB 2.7 MB/s eta 0:00:06
   ----- ---------------------------------- 2.1/16.1 MB 2.8 MB/s eta 0:00:06
   ------ --------------------------------- 2.6/16.1 MB 2.7 MB/s eta 0:00:05
   ------- -------------------------------- 2.9/16.1 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.4/16.1 MB 2.5 MB/s eta 0:00:06
   --------- ------------------------------ 3.9/16.1 MB 2.6 MB/s eta 0:00:05
   ----------- ---------------------------- 4.5/16.1 MB 2.6 MB/s eta 0:00:05
   ------------- -------------------------- 5.2/16.1 MB 2.6 MB/s eta 0:00:05
   --------------- ------------------------ 6.3/16.1 MB 2.8 MB/s eta 0:00:04
   ------------------ --------------------- 7.3/16.1 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 8.4/16.1 MB 3.1 MB/s eta 0:00:03
   ---------------------- ----------------- 9.2/16.1 MB 3.2 MB/s eta 0:00:03
   ------------------------ --------------- 9.7/16.1 MB 3.2 MB/s eta 0:00:03
   -------------------------- ------------- 10.5/16.1 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 11.5/16.1 MB 3.2 MB/s eta 0:00:02
   ------------------------------ --------- 12.3/16.1 MB 3.3 MB/s eta 0:00:02
   --------------------------------- ------ 13.4/16.1 MB 3.4 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.1 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.1 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 3.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [41]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    password="India@11",
    database="booklist"
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B44C5BB710>

In [43]:
dbcursor=db.cursor()
dbcursor.execute("Create database if not exists booklist")

In [45]:
dbcursor.execute("show databases")

In [47]:
for i in dbcursor:
    print(i)

('aditya',)
('assignment_schema',)
('booklist',)
('customer_orders',)
('data',)
('hr',)
('information_schema',)
('mysql',)
('performance_schema',)
('student',)
('sys',)
('techsaksham',)
('temp_schema',)

In [49]:
dbcursor=db.cursor()
dbcursor.execute("create table if not exists booklist.bookdetail (Rating int, BOOK VARCHAR(40), PRICE DECIMAL(16,2))")
dbcursor.execute("show tables")
for i in dbcursor:
    print(i)

('bookdetail',)

In [51]:
dbcursor.execute("""
    INSERT INTO bookdetail (Rating, BOOK, PRICE) VALUES 
    (5, 'The Alchemist', 299.99), 
    (4, 'Atomic Habits', 399.50), 
    (5, 'Harry Potter', 499.75), 
    (3, 'Rich Dad Poor Dad', 199.00), 
    (4, 'The Psychology of Money', 350.25)
""")

db.commit()

In [53]:
dbcursor.execute("SELECT * FROM bookdetail")
for a in dbcursor.fetchall():
    print(a)

(5, 'The Alchemist', Decimal('299.99'))
(4, 'Atomic Habits', Decimal('399.50'))
(5, 'Harry Potter', Decimal('499.75'))
(3, 'Rich Dad Poor Dad', Decimal('199.00'))
(4, 'The Psychology of Money', Decimal('350.25'))
(5, 'The Alchemist', Decimal('299.99'))
(4, 'Atomic Habits', Decimal('399.50'))
(5, 'Harry Potter', Decimal('499.75'))
(3, 'Rich Dad Poor Dad', Decimal('199.00'))
(4, 'The Psychology of Money', Decimal('350.25'))
(5, 'The Alchemist', Decimal('299.99'))
(4, 'Atomic Habits', Decimal('399.50'))
(5, 'Harry Potter', Decimal('499.75'))
(3, 'Rich Dad Poor Dad', Decimal('199.00'))
(4, 'The Psychology of Money', Decimal('350.25'))

In [61]:
form="Insert into bookdetail(Rating,Book,Price) values(%s,%s,%s)"
data=[(4,"Power of Subconscious Mind",99),
        (3,"Attitude is Everything",50),
        (5,"Rich dad poor dad",149)]
dbcursor.executemany(form,data)
db.commit()

In [63]:
dbcursor.execute("SELECT * FROM bookdetail")
for a in dbcursor.fetchall():
    print(a)

(5, 'The Alchemist', Decimal('299.99'))
(4, 'Atomic Habits', Decimal('399.50'))
(5, 'Harry Potter', Decimal('499.75'))
(3, 'Rich Dad Poor Dad', Decimal('199.00'))
(4, 'The Psychology of Money', Decimal('350.25'))
(5, 'The Alchemist', Decimal('299.99'))
(4, 'Atomic Habits', Decimal('399.50'))
(5, 'Harry Potter', Decimal('499.75'))
(3, 'Rich Dad Poor Dad', Decimal('199.00'))
(4, 'The Psychology of Money', Decimal('350.25'))
(5, 'The Alchemist', Decimal('299.99'))
(4, 'Atomic Habits', Decimal('399.50'))
(5, 'Harry Potter', Decimal('499.75'))
(3, 'Rich Dad Poor Dad', Decimal('199.00'))
(4, 'The Psychology of Money', Decimal('350.25'))
(4, 'Power of Subconscious Mind', Decimal('99.00'))
(3, 'Attitude is Everything', Decimal('50.00'))
(5, 'Rich dad poor dad', Decimal('149.00'))